* {
	/* We will be using Open Sans font for our project and for that we added a stylesheet from Google for our form, that's the only thing we've taken from a template.
	Rest of the stuff in this CSS is custom built*/
	font-family: 'Open Sans', sans-serif;
	/*Standardizing the font size*/
	font-size: 1em;
}

body{
	background-color: white; /*#fdf5e6;*/
	/* We are using 100% of whatever the viewport renders. This makes the webpage truly responsive. Also, our design wants to span the entire page that's available for the header
	footer and images. To determine the percentages we started with the value 1140px*/
	width:100%;
	height: 100%;
	line-height: 1.5;
	padding-top: 55px;
	margin: 0 auto;
}

section {
	margin: 0 auto;
}

.brand-text{
	color: white;
	font-weight: bolder;
	letter-spacing: 0.1em;
	padding-left: 2vh;
}

.navbar-toggler-icon{
	color: white;
	border-color: white;
}

/*Using media query to adjust the look of the navigation bar based on screen width */
@media (min-width: 651px){
	/* This holds the entire navigation box. The navigation is a dropdown box of list that appear when we hover on the three line icon */
	#announcement{
		font-size: 5vh;
		font-weight: bold;
	}

	.picgridrow img {
		margin:2%;
		width:15%;
		height:20%;
	}
}
@media (max-width: 650px) {

	#announcement{
		font-size: 2vh;
		font-weight: bold;
	}

	.picgridrow img{
		width:45%;
		height:40%;
		margin-top: 10%;
		margin-left: auto;
		display: block;
	}

	body{
		padding-top: 55px;
	}
}

#restaurants {text-align:center;}

.restaurant-header {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
    margin-bottom: 33px;
}


#landing_image img{
	-webkit-appearance: none;
	width: 100%; /*needs to cover the entire width of the screen*/
	height: 55.6230589875vh; /* Header covers 10% of the screen, So for the remainder 90%, this value presents the golden ratio! (90/55.62 ~ 1.61) */
	/* Using the following tags to crop the image so interesting parts are only shown, also using filters to make it match our color scheme */
	object-fit: cover;
	object-position: 10% 40%;
	/* Came to these values using experimentation */



}

/* All the Signup us stuff */
#signup{
	width: 61.803398875%; /*Golden ratio for the 100% width* (100/61.8 ~ 1.61) equates to 704.558747175px/1140 = 61.803398875%  */
	text-align: center;

}

#signup h2{
	width: 100%;
}

#signup input{
	width: 50%;
	margin: 0 auto;
}

@media (min-width: 651px){
	#signup input{
		width: 70%;
	}
	#signup h2{
		padding: 0.8vh 0%;
	}
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 1%;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

#signup button:hover {
	opacity:1;
}

/* Extra styles for the cancel button */
#signup .cancelbtn {
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#signup .cancelbtn, .signupbtn {
	float: left;
	width: 30%;

}

#signup .loginbtn{
	margin: 2%;
	margin-right: 5%;
}

.clearfix {
	margin-left: 30% !important;
}



h2{
	text-align: center;
	display: block;
	background-color: #3b43cc;
	color: white;
	font-family: sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.25em; /* This looks nice. Gives a typewriter-y feel to the text*/ /*perfect for talking about history*/
	font-size: 1.125em;
}

#signup div{
	margin: 1.5%;
}

#signup button{
	margin-left: 1%;
}


/*All the contact us stuff*/
#contact{
	width: 61.803398875%; /* Same as about, golden ratio for 100% 704.558747175px/1140 = 61.803398875% */
	padding-top: 4%; /* as this value is linked to the width and not the height of the parent, decided on the value visually */
}

#contact h2{
	padding:1%;
	width: 100%;

}

#contact p, summary{
	font-family: "Inconsolata";
	padding-top: 2%;
	text-align: center;
}

#contact #address, #phone, #email, #address1{
	padding-left: 4%;
	padding-top: 1%;
	line-height: 1;
	word-break: break-all; /*This way, the text won't stretch outside the viewport*/
}

/* Because address is multi-line, it makes sense to have less spacing between lines*/
#contact #address1{
	padding-top: 0.5%;
}

#contact #address, summary{
	font-weight: bold;
}

#contact #image_div{
	margin: auto;
	width: 33.33333333333%; /* Rule of thirds, set the picture to be 1/3 of the total width, and auto margin centers it. 379.9999999996/1140 = 33.3333333333% */
	padding-top: 3.33333%; /* We needed about 10 px of padding so 33.333333% / 10 */
}

#contact img{
	max-width: 100%; /*maintain aspect ratio */
}


.oop {
	max-width:30%;
}

#error4{
	font-size: 20vh;
	line-height: 30vh;

}


/* All the about us stuff */
#about{
	width: 61.803398875%; /*Golden ratio for the 100% width* (100/61.8 ~ 1.61) equates to 704.558747175px/1140 = 61.803398875%  */
	padding-top: 4%; /* as this value is linked to the width and not the height of the parent, decided on the value visually */
}

#about h2{
	padding: 1%; /* as this value is linked to the width and not the height of the parent, decided on the value visually */
	width: 100%;
}

h2{
	text-align: center;
	display: block;
	background-color: #3b43cc;
	color: white;
	font-family: sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.25em; /* This looks nice. Gives a typewriter-y feel to the text*/ /*perfect for talking about history*/
	font-size: 1.125em;
}


#about p{
	font-family: "Inconsolata";
	padding-top: 3%; /* as this value is linked to the width and not the height of the parent, decided on the value visually */
}


footer{
	text-align: center;
	background-image: linear-gradient(141deg, #00B0FF, #18F1FF);
	color: white;
	padding: 0.5%;
	margin-top: 5%;
	font-weight: bold;
}

/*Style for the `social` media icons*/
.fab {
	padding: 5px;
	height: 28px;
  width: 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook-square{
	background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#foodline{
	width: 61.803398875%; /*Golden ratio for the 100% width* (100/61.8 ~ 1.61) equates to 704.558747175px/1140 = 61.803398875%  */
	text-align: center;

}

#foodline h2{
	width: 100%;
	padding: 1% 0 1% 0;
}

.picgridrow {
	margin-top: 20%;
	margin-bottom: 20%;
}

.terms a{
	color: dodgerblue;
}

.navbar{
	background-image: linear-gradient(141deg, #00B0FF, #18F1FF);
}

.men{
	color:white !important;
}

.men-right{
	color:#B31E00 !important;
	font-weight: bolder;
}

.signup-text{
	color:#1EB345 !important;
	font-weight: bolder;
}

.welcome-text{
	color:white !important;
}

.avatar{
	height: 28px;
	width: 28px;
	border-radius: 50px;
}

.custom-toggler.navbar-toggler {
    border-color: white;
		border-width: 2px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,252,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#model-left{
	float: left;
	height: auto;
}

#model-right{
	float: right;
	height: auto;
}

#peaches_logo{
	max-width: 200px;
}

#box{
	display: inline-block;
}

#model-left-reserve{
	float: left;
	height: auto;
}

#model-right-reserve{
	float: right;
	padding-left: 2vh;
	height: auto;
}

#resDatePicker{
	width: 140%;
}

#warningmessage{
	color:red;
	font-size: 0.5em;
	line-height: 0.5;
}
