.sign-in{
	padding-top: 55px;
	margin: 0 auto;
	background: #f8f8f8;
}

.signup-image-link{
  color: dodgerblue;
  text-decoration: underline;
  font-size: 1.1em;
}

.form-title{
    line-height: 1.66;
    margin: 0.8vh 0 0.2vh 0;
    padding-top: 2vh;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

#signin,#signup{
  font-weight: bold;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.label-agree-term{
	font-size: 0.8em;
}

.profile{
	padding-top: 55px;
	margin: 0 auto;
	background: #f8f8f8;
}
.profile-details{
  width: 60%;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.profile-reviews{
	margin: 2vh auto;
	padding: 2vh;
}

.profile-review{
	margin: 2vh auto;
	padding: 2vh 4vh;
	background: #f8f8ff;
}


@media screen and (min-width: 401px) {
  .profile-details,.profile-reviews {
    width: 80%;
	}
	.profile-picture{
		max-width: 200px;
		max-height: 200px;
	}
}

@media screen and (max-width: 400px) {
	.profile-details,.profile-reviews {
    width: 80%;
	}
	.profile-picture{
		max-width: 100px;
		max-height: 100px;
	}
}

.profile-picture{
	border-radius: 50%;
	box-shadow: 1px 3px 10px grey;
}
.profile-values{
	width: 90%;
}

.profile-content{
	margin-top: 2.5vh;
}

.descript{
	text-align: center;
	padding: 1em;
	display: block;
}

h4{
		line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #222;
    font-family: Poppins;
    font-size: 2em;
}

.peach-score{
	height: 1em;
	line-height: 0.8em;
	margin-bottom: 1vh;
}

.em-peach{
	height: 1.5em;
	margin-right: 0.5em;
}

.caption{
	font-weight: bold;
	margin-right: 1em;
}

.fa-check-square{
	color: dodgerblue;
}

.fa-times-circle{
	color: red;
}
.numberCircle {
		display: inline-block;
    border-radius: 50%;
		height: 20px;
		width: 20px;
    background: green;
		margin-right: 1vh;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 0.8em;
		font-weight: bold;
}
.rewviewText{
	font-style: italic;
	display: block;
}

#TermsButton{
		 display: inline;
		 background:none!important;
     color:dodgerblue;
     border:none;
     padding:0!important;
     font: 0.6em;
     /*border is optional*/
     border-bottom:1px solid dodgerblue;
     cursor: pointer;
}

#reserveButton{
	background-color: indigo;
	border-color: indigo;
	margin-bottom: 2vh;
}

#reserveTable{
	margin-top: 2vh;
	width: 90%;
	padding-bottom: 2vh;
}

.admin{
	margin-left: 10vh;
}

.form-link{
	text-decoration: underline;
	color: dodgerblue;
}

#carouselRestaurant{
	width: 75%;
}

.carousel-control-prev-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}
.carousel-inner img{
	max-height: 40vh;
	width: 100%;
	object-fit: scale-down;
}
